html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(50deg, #f3c680, #a1e3e2);
}

.cards-flow {
    min-width: 300px;
    min-height: 200px; 
    position: relative;
    perspective: 500px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-flow div {
    min-width: 300px;
    min-height: 200px; 
    border: 1px solid #ccc;
    position: absolute;
    transition: transform 0.5s ease;
}

.card1 {
    transform: translateX(-135px) rotateY(30deg);
    background: red;
    z-index: 1;    
}

.card2 {
    background: blue;
    transform: translateX(-135px) rotateY(60deg);
    z-index: 2;    
}

.card3 {
    background: green;
    transform: translateX(-135px) rotateY(80deg); 
    z-index: 3;
}

.card4 {
    background: yellow;  
    z-index: 99;
}

.card5 {
    transform: translateX(135px) rotateY(-80deg);   
    background: pink;        
    z-index: 3;
}

.card6 {
    transform: translateX(135px) rotateY(-60deg);  
    background: lightseagreen;     
    z-index: 2;    
}

.card7 {
    transform: translateX(135px) rotateY(-30deg);  ; 
    background: rebeccapurple;
    z-index: 1;    
}

.cards-info {
    font-family: Arial, Helvetica, sans-serif;
    width: 630px;
    min-height: 400px;
    margin: 80px auto 0 auto;
    position: relative;
}

.cards-info fieldset {
    height: 450px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right bottom, #e86666, #29988e);
}

.cards-info fieldset legend{
    background:  linear-gradient(to right bottom, #e86666, #29988e);;
    color: white;
    border-radius: 5px;
    font-size: 24px;
}
.cards-info .logo {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 20px;    
}

.cards-info h1 {
    font-size: 16px;
    font-weight: 400;
    text-indent: 20px;
}

.card-number {
    min-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-number input, .card-holder, input[type='submit'] {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    border: none;
    font-size: 30px;
    text-align: center;
}

.card-holder {
    width: 90% !important;
    margin-left: 29px;
    text-align: left;
}

.days, .years {
    width: 90px;
    height: 34px;
    border-radius: 5px;
    margin-left: 29px;
    border-color: #ccc;
}

input[type='submit'] {
    display: block;
    width: 90%;
    height: 50px;
    margin-left: 29px;
    margin-top: 10px;
    background-color: #03f4e9;
    color: white;
}