html, body {
    height: 100%;
    margin: 0;
}

*, *:before *:after {
    box-sizing: border-box;
}

* {
    transform-style: preserve-3d;
    box-sizing: border-box;    
}

*:focus {
    outline: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 12px;
    font-size: 16px;
    font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background: -webkit-linear-gradient(top left, #3f4159 0%, #725767 50%, #cd908b 100%);
    background: -o-linear-gradient(top left, #3f4159 0%, #725767 50%, #cd908b 100%);
    background: linear-gradient(to bottom right, #3f4159 0%, #725767 50%, #cd908b 100%);
}

input, textarea, button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  resize: none;
}

.setting {
    width: 100%;
    height: 100%;
    max-width: 600px;
    border-radius: 2px;
    background-color: white;
    overflow: hidden;
    position: relative;
    animation: start 1.5s ease-in-out;
}

@keyframes start {
    0% {
        transform: rotateY(30deg) rotateX(80deg) translateY(400px);      
    }
    100% {
        transform: rotateY(0deg) rotateX(0deg) translateY(0px);          
    }
}

.setting input[type='radio'] {
    position: relative;
    width: 25%;
    height: 50px;
    border-left: 1px solid #f3e3e2;
    border-right: 1px solid #f3e3e2;
    border-bottom: 1px solid #f3e3e2;
    margin: 0;
    z-index: 6;
    cursor: pointer;
}

/*.setting input[type='radio']:hover, .setting input[type='radio'] + span:hover {
    background-color: #f3e3e2;
    transition: background-color 100ms ease-out;
}*/

.setting input[type='radio']:checked + span {
    background: #866972;
    color: white;
}

.setting input[type='radio'] + span {
    position: absolute;
    display: block;
    width: 25%;
    height: 50px;
    top: 0;
    text-align: center;
    line-height: 50px;
    background: transparent;
    z-index: 5;
}

.setting input[type='radio'] + span:nth-child(2) {

}

.setting input[type='radio'] + span:nth-child(4) {
    left: 25%;
}

.setting input[type='radio'] + span:nth-child(6) {
    left: 50%;
}

.setting input[type='radio'] + span:nth-child(8) {
    left: 75%;
}

.profile {
    display: flex;
    flex-flow: column;
    position: relative;
    transform: translateY(100px);
    /*top: 100px;*/
    opacity: 0;
    z-index: -1;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out, z-index 0.4s ease-out;
}

.setting input[type='radio']:nth-child(1):checked ~ .profile {
    transform: translateY(0);
    /*top: 0px;*/
    opacity: 1;
    z-index: 10;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out, z-index 0.4s ease-out;  
}


.profile .avatar {
    padding: 10px 20px;
}

.profile .show-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: bottom;
}

.profile .show-avatar div {
    display: inline-block;
}

.detail {
    display: flex;
    padding: 10px 20px;
    flex-flow: column;
}

.detail div {
    position: relative;
    height: 60px;
}

.detail div hr {
    margin: 0;
}

.detail > div:nth-child(1), .detail > div:nth-child(2) {
    display: flex;
}

.detail div div {
    flex: 1;

}

.detail div div:nth-child(2n+1) {
    padding-right: 10px;
}

.detail label {
    position: absolute;
    z-index: 1;
    top: 15px;
    font-size: 20px;
    transition: top 0.2s ease-out, font-size 0.2s ease-out;    
    color: #d19a95;
}

.detail input {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    position: relative;
    top: 9px;  
}


.detail input:focus + label, .detail input:valid + label{
    top: 0 !important;
    font-size: 12px !important;
    transition: all 0.2s ease-out !important;
}
.detail input:last-child {
    transition: background-color 100ms ease-out;
    background-color: #866972;
    cursor: pointer;
    color: white;
}
.detail input:last-child:hover {
    transition: background-color 100ms ease-out;
    background-color: #cd908b;
}


.account {
    transform: translateY(-250px);
    opacity: 0;
    z-index: -1;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out, z-index 0.4s ease-out;          
}

.account .detail div:nth-child(3), .account .detail div:nth-child(4) {
    display: flex;
}

.account .detail div:nth-child(3) div, .account .detail div:nth-child(4) div {
    flex: 1;
}

.account .detail div:nth-child(3) div input[type='button'], .account .detail div:nth-child(4) div input[type='button'] {
    border-radius: 30px;
    background-color: deepskyblue;
}

.account .detail div:nth-child(3) div input[type='button']:focus, .account .detail div:nth-child(4) div input[type='button']:focus {
    background-color: lightsteelblue;
}

.setting input[type='radio']:nth-child(3):checked ~ .account {
    transform: translateY(-350px);
    opacity: 1;
    z-index: 10;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out, z-index 0.4s ease-out;      
}

@media only screen and (min-width: 470px) {
    .setting {
        width: 470px;
        height: 450px;
    }

    .setting input[type='radio'] + span:nth-child(4) {
    left: 120px;
    }

    .setting input[type='radio'] + span:nth-child(6) {
        left: 235px
    }

    .setting input[type='radio'] + span:nth-child(8) {
        left: 353px;
    }

}