html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.share {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -21px;
}

a {
    color: darkgray;
    position: absolute;
    z-index: -1;
}

a::after {
    content: '';
    width: 5px;
    height: 50px;
    display: inline-block;
    background: #ccc;
    position: absolute;
    top: 55px;
    left: 23px;
}

main div {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: white;
    font-size: 50px;
    line-height: 100px;
    z-index: 99;
    position: relative;
}


main div:nth-child(1)  a {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    border: 5px solid #ccc;
    transform: translateX(20px) translateY(-15px) scale(0.5);
    /*opacity: 0;*/
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    animation: test 1s ease-in-out;
}

main div:nth-child(1) input:focus ~ a {
    transform: translateX(20px) translateY(-110px) scale(1);
    /*opacity: 1;*/
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}