html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;        
}

main {
    width: 100%;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image:  linear-gradient(to right bottom, #f1778c, #f93723);
    position: relative;
}

main h1 {
    font-weight: 400;
    padding: 10px;
    text-shadow: 1px -1px 0 rgb(241, 240, 240), -1px 2px 1px rgb(241, 240, 241), -2px 4px 1px rgb(241, 230, 242), -3px 6px 1px rgb(241, 240, 243);
}

.signup {
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 140px;
    height: 70px;
    margin-top: -100px;
    margin-left: -20px;
}

#signupBtn {
    margin: 10px auto;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-style: none;
    background-image:  linear-gradient(to right bottom, #f1778c, #f93723);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.5s ease;    
}

#signupBtn:hover {
    box-shadow: 0 7px 30px #f35464;
    transition: all 0.5s ease;
}

.signup.active {
    max-width: 400px;
    min-height: 380px;
    margin-top: -200px;
    margin-left: -225px;
    text-align: center;
    transition: all 0.5s ease;
    transition-delay: 1s;
}

.signup.active .show > h1 {
    color: #f1778c;
    font-size: 30px;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    transform: translateX(20px);
    transition-delay: 2s;
}

.signup.active #signupBtn {
    border-radius: 5px;
    width: 75%;
    transition: all 0.5s ease;
}

.signup.active .signupMsg {
    width: 80%;
    margin: 0 auto;
    transition-delay: 3s;    
}

.signup.active .signupMsg input {
    display: inline-block;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    margin: 15px 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    text-indent: 5px;
    outline: none !important;
    transition-delay: 3.5s;        
}

.signup.active .signupMsg input:focus {
    border-color: #f1778c;
    box-shadow: inset 0 1px 1px #f35464, 0 0 8px #f35464;
}