html, body {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.calculator {
    width: 400px;
    height: 600px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    text-align: center;
    background-color: #dfd8d0;;
}

.calculator h1 {
    font-size: 24px;
    font-weight: 400;
}

.display {
    width: 380px;
    height: 100px;
    background-color: #c3c2ab;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: inset 2px 2px 2px dimgrey;
    text-align: right;
}

#displayMain {
    width: 100%;
    height: 70px;
    font-size: 60px;
    line-height: 70px;
}

.btns {
    width: 380px;    
    display: flex;
    margin: 0 auto;
    flex-flow: column;
    color: white;
    line-height: 65px;
    font-size: 30px;
}

.first-part {
    flex: 1;
    display: flex;
}

.first-part div {
    flex: 1;
    border: 1px solid black;
    margin: 10px;
    height: 65px;
    background-color: #3a3a3a;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
    border-radius: 5px;
    cursor: pointer;
}

.second-part {
    flex: 1;
    display: flex;
}

.second-part div {
    border: 1px solid black; 
}

#one {
    flex: 3.7;
    border: none;
}

#one > div {
    display: flex;
    border: none;
    height: 85px;
}

#one > div > div {
    width: 75px;
    margin: 10px;
    background-color: #3a3a3a;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
    border-radius: 5px;
    cursor: pointer;    
}

#zero {
    width: 170px !important;
}

#equal {
    width: 75px;
    margin: 10px;
    background-color: #3a3a3a;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
    border-radius: 5px;  
    cursor: pointer;      
}

.pressdown {
    box-shadow: none !important;
    transform: scale(0.9);
    transition: all 0.1s linear;
}