* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

/* Header Start */

header {
  position: absolute;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  position: relative;
  padding-top: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
}

#logo div {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #F6B4EF;
  position: absolute;
  opacity: 0.8;
  animation: cube1 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

#logo .cube2 {
  background-color: #8EF1F4;
  animation: cube2 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;  
  animation-delay: 0.5s;
}

@keyframes cube1 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes cube2 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}


#logo .word {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

/* Header End */

/* Introduction Start */

.intro {
  width: 100%;
  height: 100%;
  background-image: url("../images/pexels-photo-109243.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.intro button {
  border: 1px solid #8EF1F4;
  background-color: transparent;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  outline: none;
  transition: background-color 0.25s ease-in;
  margin-top: 20px;
}

.intro button:hover {
  background-color: #8EF1F4;
  transition: background-color 0.25s ease-in;
}

.intro-details > *{
  margin: 10px;
}

/* READ MORE START */
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

#box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 80px;
  color: white;
  font-family: 'Raleway';
  font-size: 1.5rem;
  cursor: pointer;
}

.read-more {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
  background: -webkit-linear-gradient(30deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.read-more a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* READ MORE END */

/* Introduction End */

/* Main START */
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.main section {
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 10px 0;
  font-family: 'Raleway';
  min-width: 300px;
}

.title {
  font-weight: 500;
  border-bottom: 1px solid gainsboro;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ef4e7b;
}

.content {
  width: 100%;
  height: 300px;
  position: relative;
}

.content img {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
}

.content p {
  color: white;
  padding: 20px;
  position: absolute;
  top: 100px;
}

/* Main END */