body {
	width: 100%;
	display: block;
	font-family: Arial;
}

.content {
	background-color: #eee;
	border: 1px solid #999;
	padding: 20px;
	margin: 20px;
	overflow: auto;
}

.team-logo {
	width: 180px;
	height: 120px;
	float: left;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	border: 1px solid #999;
	
}

.team-logo img {
	width: 80px;
	height: 80px;
	float: left;
}

#team-name {
	display: inline-block;
	text-align: center;
	font-size: 18px;
	margin-left: 20px;
}

.member {
	width: 80px;
	height: 500px;
	padding: 20px;
	float: right;
	right: 20px;
	border: 1px solid #999;
}

.team-intro {
	margin-left: 220px;
	margin-right: 140px;
	padding: 20px;
	border: 1px solid #999;
	word-wrap: break-word;
}

.clear {
	clear: both;
}