body {
	width: 100%;
	height: 100%;
}

.main {
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	overflow: hidden;
}

#left-top, #right-bottom {
	background-color: #fc0;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	position: absolute;
}

#left-top {
	margin-left: -50px;
	margin-top: -50px;
}

#right-bottom {
	right: -50px;
	bottom: -50px;
}