* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

.header-wrapper {
    height: 800px;
    text-align: center;
    color: white;
    background-image: -webkit-repeating-linear-gradient(#f1c0c0, #c5efc9);
}

.header-top {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 25px;
    background-color: transparent;
    display: flex;
}

.title, .navbar, .social {
    flex: 1;
    display: flex;
}

.title {
    margin-top: 10px;
}

.navbar {
    flex: 5;
}

.navbar li {
    list-style: none;
    display: inline-block;
    width: 110px;
}

.social li {
    list-style: none;
    width: 20px;
}

.header-main {
    padding-top: 350px;
}

.header-main button {
    width: 200px;
    border: 2px solid white;
    height: 50px;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

#allow {
    display: block;
    width: 50px;
    margin: 30px auto 0 auto;
    border: none;
    transform: rotate(90deg);
    font-size: 50px;
}

.intro {
    font-size: 30px;
    text-align: center;
}

.intro h2 {
    color: orange;
    font-size: 24px;
}

.intro h2::before, .intro h2::after {
    content: " ";
    width: 50px;
    border-top: 1px solid orange;
}

article:nth-child(2) {
    column-count: 2;
    column-gap: 20px;
}

.about article img {
    width: 400px;
}

.branding {
    width: 400px;
    height: 8px;
    background-color: #ccc;
}

.branding div {
    background-color: black;
    width: 320px;
    height: 8px;
    margin-top: 40px;
}

.branding div::before {
    content: "BRANDING";
    position: relative;
    top: -16px;
}

.branding div::after {
    content: "80%";
    position: relative;
    top: -16px;
    right: -204px;
}

.intro-msg {
    width: 400px;
    height: 300px;
    margin-left: 40px;    
    float: left;
}

.skill-detail {
    float: right;
    margin-right: 40px;
    
}

.achievment {
    clear: both;
    text-align: center;
    background-image: -webkit-radial-gradient(#93fdaa,#d7c5f9);
    height: 500px;
    padding-top: 50px;
    color: white;
}

.achi-detail {
    position: relative;
    top: 150px;
}

.achi-detail li {
    list-style: none;
    width: 200px;
    display: inline-block;
    margin: 0 25px;
}

.achi-detail li span {
    display: block;
}

.achi-detail li span:nth-child(2n) {
    font-size: 40px;
    font-weight: 600;
}