html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    border-radius: 2px;
    width: 375px;
    height: 667px;
    opacity: 0.8;
    position: relative;
}

.player::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url('pryde.jpg') center no-repeat;    
    background-size: cover;    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(20px);
    z-index: -1;
}

.player header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.player h1 {
    position: relative;
    font-size: 12px;
    flex: 1;
    margin: 0;
}

.player span {
    flex: 1;
    font-size: 40px;
}

.player h1:after {
    content: 'Pryde';
    font-size: 6px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content .spin {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    opacity: 0.4;
}