body {
    max-width: 1280px;
    margin: 0 auto;
}
.container {
    border: 1px #999 solid;
}

.row div {
    border: 1px #999 solid;
    background: #eee;
    margin: 20px;
    height: 50px;
    display: inline-block;
}

@media (min-width: 769px){
    .container {
        max-width: 1279px;
    }
    .row {
        max-width: 1278px;
    }
    .col-md-1 {
        width: calc(8.33% - 50px);
    }
    .col-md-2 {
        width: calc(16.67% - 50px);
    }
    .col-md-3 {
        width: calc(25% - 50px);
    }
    .col-md-4 {
        width: calc(33.33% - 50px);
    }
    .col-md-6 {
        width: calc(50% - 50px);
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 769px;
    }
    .row {
        max-width: 768px;
    }
    .col-xs-2 {
        width: calc(16.67% - 50px);
    }
    .col-xs-3 {
        width: calc(25% - 50px);
    }
    .col-xs-4 {
        width: calc(33.33% - 50px);
    }
    .col-xs-6 {
        width: calc(50% - 50px);;
    }
    .col-xs-8 {
        width: calc(66.67% - 50px);
    }
    .col-xs-12 {
        width: calc(100% - 50px);
    }
}