body {
    margin: 0;
    padding: 0;
}

.container {
    width: 980px;
    margin: 0 auto;
}

#header-wrapper {
    width: 892px;
    border-bottom: 2px #938e8c solid;
}

#logo {
    background: #d55d5c;
    width: 110px;
    height: 61px;
    font-size: 12px;
    color: #fff;
    display: inline-block;
}

#logo p {
    position: relative;
   	top: 30px;
    left: 10px;
}

#intro {
    margin: 20px 0 20px 0;
}

.green {
    background: #a0c5ac;
    width: 191px;
    height: 301px;
    z-index: 1;
    display: inline-block;
    opacity: 0.5;    
}

.red {
    background: #e5babf;
    width: 191px;
    height: 301px;
    z-index: 1;
    display: inline-block;
    position: relative;
    left: 251px;
    opacity: 0.5;
}

.bg img {
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.bg {
    display: inline-block;
}

.bg-side {
    border-top: 2px #cc8091 solid;
    width: 203px;
    float: right;
    margin-right: 88px;
    font-family: "微软雅黑";
    line-height: 40px;
}

.bg-side p:nth-child(1) {
    text-decoration: underline;
    font-size: 24px;
    margin-top: 0;
}

.bg-side p span{
    font-size: 29px;
}

.bg-side p:nth-child(1)::after {
    content: "About technologe abouttechnologe about technologe";
    font-size: 12px;
    color: #676767;
    font-family: "楷体";
    line-height: 10px;
    display: block;
    text-decoration: none;
    font-style: italic;
}

.bg-side p:nth-child(2) {
    font-size: 116px;
    color: #75b86b;
    font-family: "微软雅黑";
    font-style: italic;
    margin-top: 60px;    
    margin-bottom: 30px;
}

.bg-side p:nth-child(3) {
    font-size: 55px;
    color: #cc8091;
}

.bg-side p:nth-child(3) span {
    font-size: 21px;
    position: relative;
    top: -15px;
}

.bg-side p:nth-child(3) span::after {
    content: "CSSCSSCSSCSSCSSCSS";
    font-size: 12px;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.article1 {
    width: 651px;
}

.article1 div {
    float: left;
    padding-right: 20px;
    font-size: 12px;
    color: #231815;
    opacity: 0.7;
    font-family: "微软雅黑";
    line-height: 16px;
}

.article1 h4 {
    font-size: 16px;
    text-decoration: underline;
    color: #418c59;
}

#what {
    width: 36%;

}

#when, #how {
    width: 27%;
}

#when h4 {
    color: #d2994f;
}

#how h4{
    color: #cc7680
}

#how p:nth-child(n+1) {
    margin-bottom: -15px;
}

#how P:nth-child(2) {
    margin-bottom: 55px;
}

#how p:nth-child(n+1) span{
    color: #cd4a48;
    font-style: italic;
}